[2018-06-05 07:38] Umang0609 opened #4 "Library not working with Swift 3"
Hi. Does this library work with Swift 3? Can you provide Pod for the same

[2018-06-06 15:05] ShihabMehboob commented on #4
Pod has now been created, to use it, simply add the following to your Pod file:

pod 'SwiftJWT', :git => 'https://github.com/IBM-Swift/Swift-JWT', :branch => 'Pod'

[2018-06-06 15:07] KyeMaloy97 commented on #4
As for Swift 3 support, as it is an entirely new repo we have launched it only supporting Swift 4 and above. I will look into adding Swift 3.1.1 support though 😄

[2018-06-07 02:30] Umang0609 commented on #4
@ShihabMehboob Thanks a lot for this kind support . I tried to use this SwiftJWT Pod using Swift 3.2 but there are lot are errors in Blue RSA . Could you please help to check
<img width="1764" alt="screen shot 2018-06-07 at 10 27 13 am" src="https://user-images.githubusercontent.com/36652918/41075108-b5c9ca56-6a3d-11e8-8525-5da86408f3a1.png">
<img width="1764" alt="screen shot 2018-06-07 at 10 27

[2018-06-07 06:37] Umang0609 commented on #4
Hi, I managed to collect the missing classes from CommonCrypto and able to run my code now. I am trying to encode the JWT with the help of your Library. I am using my Custom Headers and Claims. For the Signed JWT , I have signed Certificate with me which is valid but I am getting nil in Signed JWT, below is my code -

data is the Certificate Data and key I am using .certificate. Can you please adv

[2018-06-07 09:13] KyeMaloy97 commented on #4
Have you tried it with the dash in RSA-256 removed? Alg is a supported enum too so you can just do .alg:"rsa256", give that a try and let me know if it solves your problem :)

[2018-06-07 12:10] Umang0609 commented on #4
Yes I tried with enums too but its not returning the JWT. The Private Key and Certificate I checked online, both are valid . The Algorthim used to sign Signature is not returning the Signature due to which it returns Nil.
<img width="832" alt="screen shot 2018-06-07 at 8 09 33 pm" src="https://user-images.githubusercontent.com/36652918/41098684-d1529900-6a8e-11e8-9bb3-94f0f891f175.png">

[2018-06-08 02:47] Umang0609 commented on #4
I am using the certificate issued by CA server. Its not generated with Passphrase. First, I am creating the CSR with private key and then send it to server , server returns the valid Certificated signed with CA . Now this Certificate I am using to create JWT Token using your Library.

var jwt = JWT(header: Header([.typ:"JWT",.x5c:cert]), claims: Claims(["scope": "cop"])) // Library is automaticall

[2018-06-08 12:17] KyeMaloy97 commented on #4
I will have a go using a certificate to see what I can work out :)

[2018-07-24 16:03] djones6 commented on #4
Hi @Umang0609,

I am far from an expert on JWT, however from [the example given in the Swift-JWT tests](https://github.com/IBM-Swift/Swift-JWT/blob/afcd8f205a96b9c6f0a02ed01496087821d44ed8/Tests/SwiftJWTTests/TestJWT.swift#L89) it looks like you should *sign* a JWT using a private key, and *verify* a JWT using either the corresponding public key, or a certificate containing that key.

I suspect th

[2018-09-13 12:52] emartynov opened #9 "How to compile for iOS"
Guys, I'm not expert in compiling C libraries. Can you update documentation on how to compile it for iOS?

[2018-09-13 12:52] #9 closed

[2018-09-13 12:53] emartynov commented on #9
Wrong repo. Sorry!

[2018-11-14 11:20] Andrew-Lees11 opened #14 "JWTEncoder/JWTDecoder JWT"
You can use JSON Web tokens for information exchange. When doing this the body of the request is encoded as a JSON web token.
We would like to be able so send and retrieve JWT in the body of Codable routes.
We believe the best approach to achieve this is to create a JWTEncoder/JWTDecoder which could be used for the content type "application/jwt" to encode and decode the body between JWT and Codabl

[2018-11-18 19:09] robbiemu opened #15 "project lacks a clear installation process"
I am not clear how to use this project.

I tried installing from pod, based on a comment in a different issue, but this is giving me "Could not build Objective-C module 'SwiftJWT'" with no clear reason why.

There's probably something simple to do here.. but without clear instructions, .. basically only members of the project are likely prepared to use the project. This should of course be resolve

[2018-11-19 10:13] Andrew-Lees11 commented on #15
@robbiemu
We are about to release a new major version of this repo which includes an updated README with installation instructions for Swift package Manager. You can view that in this [pull request](https://github.com/IBM-Swift/Swift-JWT/pull/10).

To install the current version you can use [swift package manager](https://swift.org/package-manager/) for macOS:

Add the `Swift-JWT` package to the d

[2018-11-19 10:20] Andrew-Lees11 commented on #4
Hello @Umang0609,
I would like to close out this issue and wanted to know if you able to get your SwiftJWT project working with Swift 3?

We are about to release a new Major of SwiftJWT which will use Codable API's. This requires swift 4 and so we will no longer be supporting Swift 3 in the latest release.

[2018-11-23 14:04] djones6 commented on #14
#12 is merged.  This will go into the next major release of Swift-JWT.

[2018-11-23 14:04] #14 closed

[2018-11-30 16:30] djones6 opened #17 "Migration guide for Swift-JWT v3.0"
Swift-JWT 3.0.0 contains major API changes.  We should provide a guide for how to migrate from the old API to the new one.

I'd recommend creating something like a `migration.md` and linking to this somewhere near the top of the README, perhaps just before the "Getting Started" section.

I'd also update the GitHub release notes for the 3.0.0 tag, to link to the guide.

[2018-11-30 21:20] ianpartridge opened #18 "Support HS256, HS384 and HS512"
BlueCryptor has these: https://github.com/IBM-Swift/BlueCryptor#hmac

[2018-12-04 09:47] Andrew-Lees11 commented on #18
Pull request adding support has been raised [here](https://github.com/IBM-Swift/Swift-JWT/pull/19)

[2018-12-05 09:54] Andrew-Lees11 commented on #15
@robbiemu With the new release of Swift-JWT version 3 we have updated the readme to reflect the installation with Cocoapods and Swift package manager. Unless you have any further comments I will close this issue.

[2018-12-05 10:35] Andrew-Lees11 commented on #18
Pull request adding support has been merged and will be tagger version 3.1

[2018-12-05 10:35] #18 closed

[2018-12-07 11:53] #17 closed

[2019-01-01 22:13] jonblatho opened #24 "Support ES256, ES384, and ES512"
Long shot here, but what are the odds that this can support ECDSA signatures without depending on Apple platforms? This is important for many applications which need to interact with Apple's cloud services (i.e., APNS, MusicKit, etc.).

In investigating this issue myself, it looks like it's at least *somewhat* straightforward to accomplish this using Apple's Security, but Security obviously isn't

[2019-01-03 11:16] Andrew-Lees11 commented on #24
Hello @jonblatho
I'll have a look into supporting ECDSA and how difficult it would be to implement. We currently use [BlueCryptor](https://github.com/IBM-Swift/BlueCryptor) for cross platform Security so I'll see if we can use that.

[2019-01-08 10:34] Andrew-Lees11 commented on #24
So [BlueCryptor](https://github.com/IBM-Swift/BlueCryptor) doesn't currently have support for ECDSA. Since we would like to use ECDSA to sign and verify JWT's for ES256, we are going to add ecliptic curve support. I think the most logical place for this to go would be in BlueCryptor as opposed to creating a new repo.
For iOS/MacOS, we can use CommonCrypto and the Apple security API's documented [h

[2019-01-09 08:10] pavlem opened #25 "Date() displayed wrong"
Hello,
I am using a "hs256" algorithm and, when I make creating a clame, my Date, for example `Date()` displays correctly in the code, but when I put it in a claim like
`var jwt = JWT(claims: AdminClaims(sub: "Kitura", isAdmin: true, exp: Date()))`
I get a weird time of year 1988 which I can see when I paste the complete JWT string to https://jwt.io/

I had no problems with other libraries recomme

[2019-01-09 10:10] Andrew-Lees11 commented on #25
Hello @pavlem
Thank you for raising this issue. The JWT's are encoded using JSONEncoder and JSONDecoder which use 00:00:00 UTC on 1 January 2001 as the default reference date. The [JWT specs](https://tools.ietf.org/html/rfc7519#section-2) specify that dates should be encoded/decoded as seconds since 1970 so this is a bug.
 A pull request changing this behavior has been raised and we will look to i

[2019-01-09 13:52] Andrew-Lees11 commented on #25
This fix has been merged and tagged in version [3.1.1](https://github.com/IBM-Swift/Swift-JWT/releases/tag/3.1.1). As such I am closing this issue.

[2019-01-09 13:52] #25 closed

[2019-01-16 22:09] mhs2342 opened #28 "Crash on Ubuntu 16.04"
I am trying to sign a jwt to ask for a google access token but it seems as though the signer is returning `nil` when it is not supposed to.

**Stacktrace**
[code]

**Secrets.swift:createJWT()**

[code]

**Dockerfile**
[code]

[2019-01-17 10:44] ianpartridge commented on #28
Thanks for the report - we'll take a look asap.

[2019-01-19 10:04] Nick-Ace opened #29 "decode fail"
Doesnot decode if sub is inside an array!
This is my encoded text!
BI5ITZeEeyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJbe1wiYmFua0lkXCI6XCIwMzAxXCIsXCJyZWZCYW5rSWRcIjpcIkFEQkxcIixcImJhbmtOYW1lXCI6XCJBZ3JpY3VsdHVyZSBEZXZlbG9wbWVudCBCYW5rIEx0ZFwiLFwiZGViaXRDYXBcIjoxLjAwLFwiY2xyQmFsQW10XCI6MS4wMCxcImVuYWJsZWRcIjpcIllcIixcIm90cE9yaWdpblwiOlwiTkNITFwiLFwiYXBpQmFzZVVybFwiOlwiaHR0cDovLzEwLjI1MC4zLjE3OjYwODAvY29ubmVj

[2019-01-19 10:08] #29 closed

[2019-01-20 18:16] david-canty opened #31 "Issued At claim is greater than the current time"
I'm occasionally getting the error 'Issued At claim is greater than the current time' when validating JWT claims.

I'm guessing this is because of clock skew because most of the time it works. However, occasionally this error crops up and breaks access to my API from my iOS app.

Is there a way of disabling IAT validation but leaving the rest of the validation in place?

For information, I'm valid

[2019-01-28 13:46] Andrew-Lees11 commented on #31
@david-canty If this is due to clock skew we could add a "leeway" parameter which you could set on validateJWT. This would allow you to set a length of time which it will still validate the JWT even if the iat is before the current time.
If I raise a PR with this addition would you be able to test it and see if it solves your issue?

[2019-01-30 14:11] mhs2342 commented on #28
The key is encoded properly as running the same bit of code in a macos environment doesn't crash. jwt.io does validate the token. I am not aware of a way to create a dummy private/public key pair without invalidating my current tokens. It might be easier for you to create that key pair?

[2019-01-30 15:08] Andrew-Lees11 commented on #28
We use [BlueRSA](https://github.com/IBM-Swift/BlueRSA) for the RSA signing. This has different implementations for MacOS (Using applie security)and linux (Using OpenSSL). I assume the bug is somewhere in here and will try and investigate.  If you tell me where you generated your key from I will create my own pair for testing.

[2019-01-30 15:40] Andrew-Lees11 commented on #28
I will try and recreate the crash and get back to you when I know more.

[2019-02-01 17:36] Andrew-Lees11 commented on #24
Hey @jonblatho
So I have a prototype for ES256 on [this branch](https://github.com/IBM-Swift/Swift-JWT/tree/issue.ECDSA).  It is working on MacOS and linux 16.04 without any extra dependencies.

It signs and verifies using PEM encoded EC keys that can be [generated using OpenSSL](https://wiki.openssl.org/index.php/Command_Line_Elliptic_Curve_Operations). linux 18.04 is currently failing  so I will

[2019-02-01 18:05] jonblatho commented on #24
Amazing! I’ll test it out over the weekend and let you know how it goes!

[2019-02-03 00:31] jonblatho commented on #24
It works on my end on macOS!

As some guidance for others who might stumble upon this, since it wasn't immediately clear in the documentation, the OpenSSL command I used to go from Apple's .p8 file to the desired .pem file is as follows:

    $ openssl ec -in AuthKey_XXXXXXXXXX.p8 -out key.pem

Thank you for your work on this, @Andrew-Lees11! You've saved a lot of people a lot of headaches.

[2019-02-04 17:19] Andrew-Lees11 commented on #28
@mhs2342
So I would assume it is crashing in BlueRSA during the (private key initialisation)[https://github.com/IBM-Swift/BlueRSA/blob/master/Sources/CryptorRSA/CryptorRSAUtilities.swift#L89] and openSSL `PEM_read_bio_PrivateKey()` is throwing the fatal error.

I am struggling to debug further though since I was able to sign on linux using a key generated from [firebase](https://console.cloud.goog

[2019-02-11 13:16] mariohahn opened #33 "Support tvOS, macOS, watchOS"
I am not 100% sure, but I guess it should be only a podspec update.

I would appreciated it very much.

[2019-02-11 13:21] mariohahn commented on #33
BlueCryptor: tvOS, watchOS missing
KituraContracts: tvOS, macOS, watchOS missing
LoggerAPI: tvOS, macOS, watchOS missing
BlueRSA: tvOS, watchOS missing

[2019-02-13 16:48] emilwojtaszek opened #34 "RSA private key creation from data failed"
I'm having a tough time using this lib. I'm trying to generate JWT using Google Private key.
My approach below:

[code]

I'm getting this error:

[code]

Any idea what am I doing wrong?

[2019-02-13 17:28] Andrew-Lees11 commented on #34
@emilwojtaszek
So the problem is that your key is PKCS8 (-----BEGIN PRIVATE KEY-----).
Our repo for extracting keys seems to only take PKCS1 (-----BEGIN RSA PRIVATE KEY-----)
You can switch between the formats using openSSL:
[code]
More information is this can be found in [this stackoverflow post](https://stackoverflow.com/questions/17733536/how-to-convert-a-private-key-to-an-rsa-private-key)

You

[2019-02-13 17:34] emilwojtaszek commented on #34
made my day! thanks

[2019-02-13 17:34] #34 closed

[2019-02-14 17:59] mariohahn commented on #33
If I can support you in any way, let me know (:

[2019-02-15 09:41] Andrew-Lees11 commented on #33
@mariohahn
I will look into at updating the podspec and releases. If that is all the we need to do then it shouldn't be too difficult.

[2019-02-20 13:58] SeRG1k17 opened #36 "Carthage support"
Do you plan to release a version for a Carthage?

[2019-02-20 16:09] Andrew-Lees11 commented on #36
@SeRG1k17
Sorry but we currently have no plans to support Carthage.
We support Cocoapods and recommend that for users on iOS.

[2019-02-23 16:21] Andrew-Lees11 commented on #31
@david-canty I have raised a pull request adding a leeway parameter to the validate claims function.
Are you still having this issue and if so would be you be able to test that this fixes it?

[2019-02-27 10:28] Andrew-Lees11 commented on #28
@mhs2342
Were you able to test your Key? We would like to know if you were able to fix your problem and get your JWT working.

[2019-02-28 08:36] Andrew-Lees11 commented on #31
Closing now the leeway parameter has been merged and tagged in version 3.2

[2019-02-28 08:36] #31 closed

[2019-02-28 08:45] Andrew-Lees11 commented on #33
I have pushed Swift-JWT version 3.2 to Cocoapods. This has tvOS, macOS and watchOS added to the podfile which should allow you to use this repo on those platforms. As such I am closing this issue.

[2019-02-28 08:45] #33 closed

[2019-02-28 09:10] mariohahn commented on #33
Perfect, thanks a lot 🎉🎉

[2019-03-04 08:28] pavlem opened #41 "Problem with with signing myJWT with private key -> JWTSigner.rs512"
Hello :),

Great library but I have some problems. I always get an error when I try to get the PRIVATE key as a Swift variable. I get the reference to the public and private key and public key data, but cannot do the same for the private key (there is no existing method like for the "getPublicKeyData()" and the one I implemented is not working).

The error I get is:
Thread 1: Fatal error: 'try!' e

[2019-03-04 10:39] Andrew-Lees11 commented on #41
So that error means we can't convert the key data into an RSA key.
The private and public key should be a PEM String that has been utf8 encoded to data.
So the public key should look like:
[code]
`RSASwiftGenerator` produces a SecKey which is apples representation of an RSA key,
If you use `SecKeyCopyExternalRepresentation` you can get the RSA key `DER`. This is the middle pert of the PEM as base6

[2019-03-04 13:56] pavlem commented on #41
Hello Andrew, thanks for the quick response, I tried your version but I think there is a mistake since I get error:

Thread 1: Fatal error: 'try!' expression unexpectedly raised an error: Error code: -9995(0x-270B), Couldn't get data from PEM key: no data available after stripping headers.

for part

[code]

but if I change to /n -> \n
[code]

The app does not crash any more, but the jwtVerifier s

[2019-03-04 15:08] Andrew-Lees11 commented on #41
The new line characters were the wrong way round. I have updated my comment.
Otherwise that format looks correct for the keys.
As for the keys, I tried that public and private key pair on [jwt.io/](https://jwt.io/) and they don't seem to be an valid RSA public/private key pair.
They are two RSA keys in ASN1 format which you can test by pasting the base64String [here](https://lapo.it/asn1js/).
Are

[2019-03-04 16:23] pavlem commented on #41
1. For generating question, YES, we generated Private and Public keys manually to see if it can work with 4096 key length. The commands were:
[code]
The "openssl" command from your site did not work in our case

Then in the project to get Swift variables we used:

[code]
And here are my pub and private keys I got from what I generated (for you to see the structure)

[code]

[code]

This is what is

[2019-03-04 17:02] Andrew-Lees11 commented on #41
On jwt.io, that signed jwt was verified for the public and private key.
When i run the following code I am getting the verifier returning true:
[code]

Hopefully that should also work for you.
I'm not sure why the generated keys from RSASwiftGenerator are not working.
You can paste them into jwt.io and it will say "verified" if they are valid keys.

I can look into adding key generation to [BlueRS

[2019-03-05 08:25] pavlem commented on #41
Thank you Andrew, I made it work with your help.

I would kindly recommend checking the part in "Creating the RSA public and private keys" in your instructions.

For generating, I used the following commands (your didn't work for me)

[code]

And for retrieving swift variables (here is just a small fix in syntax):

[code]

Related to the ida of adding key generation, that would be great if it is p

[2019-03-05 10:20] Andrew-Lees11 commented on #41
Glad you got it working. I'm going to look into adding key creating to BlueRSA and BlueECC.
I'll update the readme for the next release to make it clearer how to create keys and use.
I'm going to close this issue and raise one against BlueRSA for the key creation.

[2019-03-05 10:20] #41 closed

[2019-03-05 11:27] pavlem commented on #41
Great, thanks for the help :)

[2019-03-05 16:41] Andrew-Lees11 commented on #24
Closing now ES256, ES384 and ES512 have been added in the 3.3.0 release of SwiftJWT.
They should be able to take keys in either pem or p8 format.

[2019-03-05 16:41] #24 closed

[2019-03-07 09:52] Andrew-Lees11 commented on #28
I'm closing this for now. Feel free to open it again if you have further questions.

[2019-03-07 09:52] #28 closed

[2019-03-07 12:01] Andrew-Lees11 commented on #36
@SeRG1k17
I am closing this issue since we are not planning on working on it.
If you would like to raise a PR which would add Carthage support this would be appreciated and we can reopen this.

[2019-03-07 12:01] #36 closed

[2019-03-12 10:46] Andrew-Lees11 commented on #41
@pavlem Just to say we are still looking into adding key generation to BlueRSA.
In the mean time we have released a new repo [BlueECC](https://github.com/IBM-Swift/BlueECC) that used elliptic curve and the 1.2.0 already has support for key generation. If you are in charge of both sides of the JWT process, you could use es256 with these keys. This comes with some other benifits that I covered in my

[2019-04-11 17:06] leisurehound opened #51 "Token creation fails on ubuntu but not macOS"
Hi, I have a Swift command line app that writes to Firebase Firestore after generating a JWT for a service account and works fine on macOS, but as I'm porting it to Ubuntu to run it under systemctl I'm failing to successfully generate the token.  Its always returning nil.   I thought at first that it may be because the key had a trailing \n but removing that doesn't seem to help.  Any assistance w

[2019-04-12 02:31] leisurehound commented on #51
well, it did end up being a key formatting issue.  Even after executing the steps in the other recently opened issues I was still having problems so thought it was different, but found another formatting error which when fixed resolved the issue.  Would be nicer if the signing was a little more forgiving tho, like it is on macOS.

[2019-04-12 08:40] Andrew-Lees11 commented on #51
hello @leisurehound
I'm glad you were able to fix this issue. What was the formatting issue you were having? The behavior should be the same on macOS and Linux so I would like to look into what was causing the difference.

[2019-04-12 16:35] leisurehound commented on #51
I had to do the formatting that were described (specifically remove the \n and the manually edit the files, add the header) but then I must have entered a non-printable character by mistake.  once I found that (after doing the other edits) it worked.  However, on macOS I simply had to download the Google service account private and it worked.  On Ubunuto I had to manually edit the google file. Wou

[2019-05-05 16:24] markfinlabs opened #55 "Support for PS256"
Hi there,

Any chance of support for PS256 on Linux? I am working with UK Open Banking which requires PS256 for message signing (*).

BR,
Mark

(*) https://openbanking.atlassian.net/wiki/spaces/DZ/pages/1077805207/Read+Write+Data+API+Specification+-+v3.1.2#Read/WriteDataAPISpecification-v3.1.2-ProcessforSigningaPayload

[2019-05-07 15:32] Andrew-Lees11 commented on #55
Hello @markfinlabs
I have looked into implementing this and created a pull request against [BlueRSA](https://github.com/IBM-Swift/BlueRSA/pull/46) that adds RSA-PSS signing and verifying. Once this has been approved and merged it should be fairly simple to add PS256 and PS384 support to SwiftJWT.

[2019-05-07 17:53] markfinlabs commented on #55
Wow, that was super fast! Many thanks and much appreciated @Andrew-Lees11. I'm happy to test this on release and will report back here with my results.

BR,
Mark

[2019-05-13 16:06] Andrew-Lees11 commented on #55
If you would like to test the PS256 support the [ps256 branch](https://github.com/IBM-Swift/Swift-JWT/tree/ps256) has .ps256 and .ps384 algorithms available.

[2019-05-13 20:20] markfinlabs commented on #55
Thanks @Andrew-Lees11, I should be able to test this later this week, feel free to move ahead without me if that's too slow for you. : )  Appreciate your efforts.

[2019-05-14 15:47] Andrew-Lees11 commented on #55
Closing since this has now been merged and released in version 3.5.0.

[2019-05-14 15:47] #55 closed

[2019-05-21 01:23] diuming opened #58 "Is it possible to generate a single time use token?"
Hi,
Is it possible to generate a `single time` use token?

environment
---
OS: macOS 14.4
Xcode: 10.2.1

thanks

[2019-05-21 08:46] Andrew-Lees11 commented on #58
JWTs are stateless so the single use behavior would have to come from the server. Why would you like it to be single use? [This article](https://www.jbspeakr.cc/howto-single-use-jwt/) describes a method for password reset by using the state (Hashed password) that will be changed by the request. Otherwise you can use the "jti" claim to assign a unique identifier that can be checked by the server to

[2019-05-21 19:10] awadodeh opened #59 "Is it possible to sign the JWTtoken with a secret key, not private/public keys?"
My application doesn't need a public private key to sign an Authentication token, it only needs to sign it with a secret key (String) only know by server and client. Is it possible to implement that in the Swift-JWT as well.

An example of java client to generate my token looks like.
[code]

[2019-05-21 21:16] Andrew-Lees11 commented on #59
Yes you can do that using HMAC hs256 signer/verifier:
[code]

[2019-05-22 17:11] awadodeh commented on #59
Worked like charm!! Thank you!
[code]

[2019-05-22 17:11] #59 closed

[2019-05-24 06:42] Bruce9487 opened #60 "[!] CocoaPods could not find compatible versions for pod "SwiftJWT": In Podfile: SwiftJWT"
Why don't I install SwiftJWT.

<img width="894" alt="螢幕快照 2019-05-24 14 40 16" src="https://user-images.githubusercontent.com/19691907/58307708-22462e00-7e32-11e9-9f00-01c17f903e8f.png">

[2019-05-24 08:39] ddunn2 commented on #60
@Bruce9487
Thanks for raising this issue, is it possible you could provide the contents of your Podfile?

Thanks!

[2019-05-24 08:50] Andrew-Lees11 commented on #60
Also, What is your ios deployment target? SwiftJWT currently requires ios 11.0. If you require 10.0 you should be able to point at the 3.2 release:
[code]

[2019-05-24 11:08] Bruce9487 commented on #60
@ddunn2 @Andrew-Lees11
Thanks, I change my platform to ios '11.0', and it's work to download.
Sorry for reporting this issue.

[2019-05-24 12:10] Andrew-Lees11 commented on #60
You don't have to apologize. I'm glad we were able to help.

[2019-05-24 12:10] #60 closed

[2019-05-26 01:09] awadodeh opened #61 "Is it possible to add a ClaimSet class that is generic and allow adding new claims for multiple apps requirement."
Is it possible to add a ClaimSet class that is generic and allow adding new claims for multiple apps requirement?

[2019-05-28 08:39] Andrew-Lees11 commented on #61
Hello @awadodeh
I'm not quite sure what you mean by a ClaimSet class. The JWT class is already generic over the Claims class. You can define your own type that conforms to Claims that has the fields you define.
This should already allow you to add new custom claims for your own app requirements.

[2019-05-28 13:30] awadodeh commented on #61
Hello Andrew!

What I am trying to say is basically making the library generic to accept user defined claims without having to declare new types for each different app requirement.

For example, if you have a micro service and a web/mobile app that are consuming the service, and you need to add a new claim for your JWT. You would need to create a new type like
[code]
This will also require that yo

[2019-05-28 15:42] Andrew-Lees11 commented on #61
Hey
So I think you are requesting one of the following three features:

1. When decoding the Claims JSON, leave the claims undefined such as a [String: Any]. This would remove the requirement to define a struct, but removes the type safety since you would have to access each field as a string vs the dictionary and cast to the required type.
2. Create a JWT that has a set of possible claims and wil

[2019-06-02 05:52] leisurehound opened #62 "Missing Required Module 'OpenSSL' on Vapor.cloud and Heroku"
Hi, I'm in the process of migrating a Swift command line app to now be a vapor app as I need to expose a couple API endpoints as well.  The command line tool successfully uses the  IBM-Swift/Swift-JWT and ideally would rather continue to use this.  I've got the vapor app running on my Mac and under Xcode successfully (and the CLI), but when I attempt to deploy and build to vapor.cloud I get the er

[2019-06-02 13:14] ianpartridge commented on #62
You'll need the appropriate `libssl-dev` for whatever Ubuntu you're on.

[2019-06-02 21:35] leisurehound commented on #62
Thanks.  I moved onto an instance of Google Compute Engine where I have more control of what is installed, and the problem reproduces there even tho libssl-dev is installed.  So perhaps this is a Vapor OpenSSL version conflict or something.

[2019-06-04 18:04] leisurehound commented on #62
Looks like this was an error in my Package.swift which was allowed on macOS but failed on Linux.  Documenting here for others if they come upon the same issue.

The incorrect Package.swift (which worked on macOS):

[code]

I believe the correct way to manage the dependency is:

[code]

[2019-06-04 18:04] #62 closed

[2019-06-19 03:51] zackwalkingstick opened #63 "Get 'No Such Module' on import when using Swift Package Manager on iOS project"

[2019-06-19 09:32] Andrew-Lees11 commented on #63
Are you using Xcode 11? Swift package manager support for iOS has only been added in 11 and we haven't tested this out yet. Otherwise you can use Cocoapods for iOS.

[2019-06-26 11:01] kiroskirin opened #64 "error: 'SecCertificateCopyPublicKey' is only available on iOS 10.3 or newer"
I folk this repo and try to make it support Carthage but when I run the build. There is an error like this

[code]

[2019-06-26 12:25] Andrew-Lees11 commented on #64
Hello @kiroskirin

There seems to be a mistake in BlueRSA.
At [CryptorRSAKey.swift#L32](https://github.com/IBM-Swift/BlueRSA/blob/master/Sources/CryptorRSA/CryptorRSAKey.swift#L32) it has:
[code]
Which should be:
[code]
This might also be the case for other @available methods.
I will look into this and raise a PR against BlueRSA

[2019-06-27 04:35] kiroskirin opened #65 "error: 'SecKeyAlgorithm' is only available on watchOS 3.0 or newer"
I just found another issue with watchOS which there seem to be quite a lot, I will attach all the error log here as well
[carthage-xcodebuild.Mf5IJE.log](https://github.com/IBM-Swift/Swift-JWT/files/3332941/carthage-xcodebuild.Mf5IJE.log)

[code]

[2019-06-27 04:39] kiroskirin opened #66 "error: 'Algorithm' is only available on tvOS 10.0 or newer"
It seems like there are errors with tvOS as well.

[code]

Here the error log
[carthage-xcodebuild.SVs1Np.log](https://github.com/IBM-Swift/Swift-JWT/files/3332953/carthage-xcodebuild.SVs1Np.log)

[2019-06-29 20:07] leisurehound commented on #51
Interestingly, I'm now having the opposite problem.  I'm in the process of rotating keys as I had to do some Heroku key debugging (the ENV didn't like spaces or my quoting the key, so I added %20 and %0A for all the spaces & newlines, then convert them back in swift after reading the ENV variable).  With the new key this works great on Heroku.

But on macOS, with Google Cloud Console and gcloud co

[2019-07-01 14:59] Andrew-Lees11 commented on #51
@leisurehound I have raised pull request #68 that should handle newlines a bit better.
Would you be able to test the keyGen branch and see if that solves you issue?

[2019-07-01 15:01] Andrew-Lees11 commented on #64
@kiroskirin
I have raised pr #67 that should update all the @available lines so that the project compiles on iOS, watchOS and tvOS. Would you be able to test the `available` branch to see if this solves your issue?

[2019-07-02 00:21] leisurehound commented on #51
I get duplicate logging symbols when depending on that branch:

[code]

Here is how I'm referencing that branch.
[code]

[2019-07-02 08:24] Andrew-Lees11 commented on #51
@leisurehound
This is caused by a name-space conflict between Vapor logging and Swift-Log. There is a [forum post describing this issue](https://forums.swift.org/t/logging-module-name-clash-in-vapor-3/25466/12).
The short term fix is to limit the LoggerAPI version so it doesn't depend on Swift-log:
[code]

[2019-07-02 16:21] leisurehound commented on #51
Thanks for the tip, am past the building with duplicate symbols issue.  Updating to use the keyGen branch I'm still seeing this error when trying to sign:

`The operation couldn’t be completed. (CryptorRSA.CryptorRSA.Error error 1.)`

[2019-07-03 09:16] Andrew-Lees11 commented on #51
I'm wondering if the error could be in getting the key from the file.
Could you check the key is correct? If you utf8 decode the data to a String, and remove the headers, you should be able to ASN1 decode the key [here](https://lapo.it/asn1js/). If it successfully decodes could you let me know the structure of the key?
Otherwise could you try putting the PEM string key into the swift file directly

[2019-07-03 09:22] #63 closed

[2019-07-03 09:22] #61 closed

[2019-07-03 09:22] #58 closed

[2019-07-03 12:05] Andrew-Lees11 commented on #64
Closing since this should be fixed in the 3.5.1 release

[2019-07-03 12:05] #64 closed

[2019-07-03 12:05] Andrew-Lees11 commented on #65
Closing since this should be fixed in the 3.5.1 release

[2019-07-03 12:05] #65 closed

[2019-07-03 12:05] Andrew-Lees11 commented on #66
Closing since this should be fixed in the 3.5.1 release

[2019-07-03 12:05] #66 closed

[2019-07-04 04:09] leisurehound commented on #51
Am not sure how to interpret the results of the ASN1 site.

[code]
Here's the code with getting the key data on macOS (ignore the force unwrap unwrap for now, it just a shortcut to get this to work):

[code]
I get the same error I shared above.

I can share my claims too, if that is not a security problem or direct message me to share it privately.

Again, here is how I try to sign, this code is p

[2019-07-04 12:07] Andrew-Lees11 commented on #51
Ok so I think the problem is that you have a PKCS8 formatted key. This means that when you ASN1 decode it as you have done above you have the following header:
[code]
The linux implementation seems to be able to handle this but the mac one doesn't. I have raised a PR [49](https://github.com/IBM-Swift/BlueRSA/pull/49) against BlueRSA which should fix this problem.

You can test this by pointing at

[2019-07-04 16:35] leisurehound commented on #51
Thanks Andrew.  Depending on the BlueRSA branch resolve the problem.  Appreciate your help.  Looking forward to seeing the changes in the main line.

[2019-07-04 16:40] ianpartridge commented on #51
Thanks for testing it out. I've taken this issue over from Andy and we hope to get the BlueRSA fix out soon. Thanks.

[2019-07-12 18:09] JasonGreenAmerica opened #69 "Apple Music Sample"
I've been trying to get IBM JWT to work with Apple music api. Swift-JWT creates an invalid signature. Do you have sample code that actually auths with apple music?

[2019-07-12 21:01] JasonGreenAmerica commented on #69
...It was my code...

[2019-07-12 21:01] #69 closed

[2019-07-14 21:11] leisurehound commented on #51
I see the fix in the [PR](https://github.com/IBM-Swift/BlueRSA/pull/49) for Blue-RSA is failing on CI.  Is there an ETA on the merge so I can reset my dependencies to the mainline?  It also appears the formatting change [PR](https://github.com/IBM-Swift/Swift-JWT/pull/68) is also not merged.

[2019-07-16 09:24] ianpartridge commented on #51
Thanks for the prod!

I fixed the BlueRSA CI problem, hopefully we can merge that soon.

I also merged https://github.com/IBM-Swift/Swift-JWT/pull/68 and released https://github.com/IBM-Swift/Swift-JWT/releases/tag/3.5.2 with the fix.

By the way, you can work around the problem by converting your key from PKCS8 to PKCS1 format - it should be as simple as running `openssl rsa -in server.key -out s

[2019-08-16 22:42] markfinlabs opened #71 ""Alg" header not settable?"
Hi there,

Just curious why ```alg``` seems hard-coded to nil in Header class (https://github.com/IBM-Swift/Swift-JWT/blob/master/Sources/SwiftJWT/Header.swift)? I am experimenting with this library for UK Open Banking client registration where I need to set this value (see example Python code for this use case in 4.1.1 here: https://openbanking.atlassian.net/wiki/spaces/DZ/pages/313918598/Integra

[2019-08-16 22:52] markfinlabs commented on #71
Okay, I now see it's set automatically in the sign function! I'll close this shortly if all works as expected and I have the flexibility I need.

[2019-08-17 06:29] xudogn opened #72 "Customize Algorithm"
I want to sign jwt with secp256k1, how can I create a JWTSigner with secp256k1?

[2019-08-17 21:56] markfinlabs commented on #71
All fine in testing so far. 😀

[2019-08-17 21:56] #71 closed

[2019-08-28 19:27] kyleishie opened #73 "JWTDecoder Fatal error: Index out of range"
The JWTDecoder.decode method currently checks for the existence of headers and claims but it does so by assuming the array of strings has a count of at least 2.  Therefore, passing an empty/malformed string causes a fatal error.  I propose adding a guard to verify the array's count before attempting to access the strings.

Is a fix for this in the works?  If not, I will submit a PR.

[2019-08-30 17:18] markfinlabs commented on #55
Just wanted to let you know I have been using this successfully - appreciate you adding this!

BR,
Mark

[2019-09-16 16:32] markfinlabs opened #74 "Make func base64urlEncodedString() public?"
When conforming to Claims protocol, it's quite useful to define encode(). In the default implementation of encode() (https://github.com/IBM-Swift/Swift-JWT/blob/master/Sources/SwiftJWT/Claims.swift#L78-L83), a custom Base-64 decoder is called via base64urlEncodedString() but this is not public so inaccessible for user implementations of encode().

If this custom implementation of Base-64 encoding

[2019-09-24 10:10] djones6 commented on #74
This seems reasonable.  I'll open a PR

[2019-09-24 14:16] markfinlabs commented on #74
Many thanks David. I just want to say thanks to you, @Andrew-Lees11,  @ianpartridge, and the team at IBM for putting this library together because it has helped enable my own open source software which is currently being released: https://github.com/finlabsuk/open-banking-connector. It's a critical component for me! Feel free to close this issue once the pull request is in or I can come by later a

[2019-09-24 14:37] ianpartridge commented on #74
You've very welcome - it's great when we hear from happy users :)

[2019-09-27 09:33] djones6 commented on #74
@markfinlabs FYI, I made some changes to the PR (#75) based on @ianpartridge's review.

Rather than a public extension on Data, they are now static utility functions `JWTEncoder.base64urlEncodedString(data:)` and `JWTDecoder.data(base64urlEncoded:)`.

[2019-09-27 09:34] #74 closed

[2019-09-30 15:05] djones6 commented on #74
#75 is now tagged in `3.6.0`

[2019-10-01 21:54] crspybits opened #77 "JSON Web Key"
I'm trying to decode a JWT created by Apple-- using a JSON Web Key obtained from-- https://developer.apple.com/documentation/signinwithapplerestapi/fetch_apple_s_public_key_for_verifying_token_signature
Apparently, I need to convert from this JSON Web Key to a PEM, to convert to Data and use as input to:
        let jwtVerifier = JWTVerifier.rs256(publicKey: publicKeyData)
Does Swift-JWT enable co

[2019-10-01 21:56] crspybits commented on #77
OK--  think I've solved my  own question:
https://github.com/ibm-cloud-security/Swift-JWK-to-PEM

[2019-10-03 13:56] djones6 commented on #77
@crspybits That looks about right.

It would be nice if we could have this functionality directly via the Swift-JWT API.  However, we pondered this in the past and didn't make Swift-JWT depend on JWK-to-PEM because, as it stands, that depends on `openssl` which is not installed by default on macOS.

[2019-10-11 19:07] markfinlabs commented on #74
Understand the change, many thanks @djones6 for this. BR, Mark

[2019-11-02 05:27] bubblemans opened #79 "No such module 'SwiftJWT' using CocoaPods(after pod install still have that error)"

[2019-11-04 08:41] #72 closed

[2019-11-09 21:17] markfinlabs opened #80 "Header flexibility"
Hi there,

I have made local modifications (hacks) to support headers of the type
[code]
but wondering if these could be supported in the library?

Maybe making headers a Swift protocol is the way to go?

Interested in your thoughts.

BR,
Mark

[2019-11-14 23:19] markfinlabs commented on #80
Any thoughts @djones6 ? 😀

[2019-11-18 17:50] djones6 commented on #80
@markfinlabs Let me start off by saying that I'm not an expert in the JWT/JWS/JOSE space.  It looks like what you are after is a more general JWS library.  I feel this goes beyond the intended scope of the Swift-JWT project, which was to support JWTs (as defined by [RFC 7519](https://tools.ietf.org/html/rfc7519)).

Specifically, the JWT specification requires `typ` to be `JWT`, also (according to

[2019-11-18 18:59] markfinlabs commented on #80
Thanks @djones6 for your comments, I'll give this some thought and reply this week. I really appreciate the crypto support your library provides but I understand the need for scope limitations. I need to think if there is a simple way I can add something to your library or minor changes which might allow more external flexibility which i could propose. At the moment this is blocking my own softwar

[2019-11-21 08:10] markfinlabs commented on #80
Hi @djones6 . The most obvious change would be to turn Header into a protocol like Claims which would also have the benefit of allowing Header.encode() to overridable like Claims.encode().

However a better solution might be have both a protocol, say HeaderProtocol, as well as the current  (now conforming) Header type to retain the simple syntax ```let myHeader = Header(kid: "keyID")``` which I su

[2019-11-23 15:40] magar91 opened #82 "Can't install Swift-JWT through Pod"
I tried installing with pod but I get this message:

[code]
This is on a newly created project with Xcode 11.2.1

[2019-11-27 18:11] markfinlabs commented on #80
Any thoughts on this @djones6 ?

[2019-12-03 07:41] adhityasp commented on #82
any update on this issue ?

[2019-12-03 09:59] redryerye commented on #73
Found this issue on my end too. Would be great if there's an update on this.

[2019-12-04 12:04] ianpartridge commented on #73
We'd welcome a PR for this if you have time, thanks.

[2019-12-05 17:44] kyleishie commented on #73
I totally came here to do this today.  @redryerye Thanks!

[2019-12-05 22:31] sushant40 commented on #36
I vote we reopen this. Carthage support is fundamental to the community.

[2019-12-06 09:08] ianpartridge commented on #73
https://github.com/IBM-Swift/Swift-JWT/releases/tag/3.6.1 - thanks all!

[2019-12-06 09:08] #73 closed

[2019-12-07 15:49] markfinlabs commented on #80
I have made a pull request based on the HeaderProtocol option: https://github.com/IBM-Swift/Swift-JWT/pull/84

I welcome any thoughts.

[2020-01-06 23:56] pouty18 commented on #82
Have you tried raising the minimum deployment target?

[2020-02-17 02:36] DanBurkhardt commented on #82
In your Xcode project, go to the target and raise your targeted version number to something higher. I would download their example here by cloning the repo and opening it up, you can see what version they target in the project, but you can also get the info from Cocoapods.

[2020-04-23 08:06] ispiryan opened #85 "'openssl/conf.h' file not found"
After adding JWT Swift Package Dependence.
'openssl/conf.h' file not found

Xcode Version 11.4 (11E146)
JWT 3.1.2

[2020-05-07 07:59] VFUC commented on #85
might be a similar issue to https://github.com/vapor/websocket-kit/issues/9

[2020-05-09 19:32] zallanx opened #86 "SwiftJWT causing exception for iOS 12.4 devices"
Note that this currently applies to iOS 12.4 devices. iOS 13+ devices have not had this issue reported. It seems CryptorECC, which the SwiftJWT library uses, is the culprit.

Has anyone also encountered this?

Relevant trace posted below:

[code]

[2020-05-31 07:44] trungdq88 opened #87 "Create/verify JWT tokens with dynamic claims/header?"
Hi, I'm writing an app to create a signed JWT token from the user's input header, claims, and secret. By reading through the document, I found out the only way to create/verify a token is to have a predefined Claims class and all other APIs are around the assumption that there is a fixed Claims class defined.

Since the header, claims, and secret are provided by the user at runtime, I couldn't fin

[2020-05-31 10:01] #87 closed

[2020-06-17 22:04] toddgower-hiatus commented on #59
you should put this in the documentation 🙂

[2020-06-19 16:03] Blackjacx opened #88 "Not usable as dependency for another Framework"
I cannot use Swift-JWT as dependency for another framework - integration via SMP. I get the following error:

[code]
---
This happens when I build from console using `swift build`. When I build using Xcode everything works fine. Its about a command-line application.

[2020-07-15 03:47] azeemohd786 commented on #86
@zallanx , I have come across this same error, did you find any solution or any alternatives? please share

[2020-07-15 03:49] borisdipner opened #89 "Fatal error: invalid unsafeDowncast"
On creation jwt - iOS 12.0

FILE:
BlueECC -> ECPrivateKey.swift

CODE: 447-463
 #else
            let keyData = publicKeyData + privateKeyData
            var error: Unmanaged<CFError>? = nil
            guard let secKey = SecKeyCreateWithData(keyData as CFData,
                                                    [kSecAttrKeyType: kSecAttrKeyTypeECSECPrimeRandom,

[2020-07-15 03:50] borisdipner commented on #89
<img width="1032" alt="Снимок экрана 2020-07-15 в 09 50 12" src="https://user-images.githubusercontent.com/42653931/87501309-953ae580-c680-11ea-9fcc-05e4d87f8d4a.png">
<img width="1021" alt="Снимок экрана 2020-07-15 в 09 50 24" src="https://user-images.githubusercontent.com/42653931/87501325-9c61f380-c680-11ea-8164-6c69fb8726d0.png">

[2020-09-05 22:07] #88 closed

[2020-09-05 22:09] Blackjacx commented on #89
I also experience errors when running release builds of my command line tool where I link SwiftJWT. See [Stack Overflow](https://stackoverflow.com/questions/63758865/swift-release-build-fails-execution) post.

[2020-09-07 06:15] borisdipner commented on #89
I solved it. Just copy pod folder to ur project.

[2020-09-07 06:15] #89 closed

[2020-09-07 09:40] Blackjacx opened #90 "Release build fails execution"
When I integrate SwiftJWT into my App Store Connect CLI tool `asc` (included in the [Assist](https://github.com/Blackjacx/assist) repo) using Swift Package Manager I get the following runtime error:

[code]

To reproduce this:

1. **Clone repo:** `git clone git@github.com:Blackjacx/Assist.git && cd Assist`
2. **Build and run in release mode:** `swift run -c release`

Alternatively you can use mint

[2020-09-08 05:50] GaneshKumarSelvam opened #91 "JSON issue"
I'm Sending the finalized JWT String in Header and expected to get a response as

{
    AccessToken = "<null>";
    AppType = 0;
    BusinessId = "66d139e5-7797-4d37-8a9a-368df35f3664";
    BusinessStatus = 0;
    ContactName = "Mike Andrew";
    ContactNameDisplayFormat = "<null>";
}

but I'm getting

{
    accessToken = "<null>";
    appType = 0;
    businessId = "66d139e5-7797-4d37-8a9a-368df35

[2020-09-28 18:10] IuriiIaremenko commented on #24
@Andrew-Lees11 it looks like ES256 is not supported by Linux, only Apple platforms have es256 signer.

[code]

[2020-10-06 15:43] GuillaumeBourge opened #95 "Update release on cocoapods"
I cannot install last 3.6.0 and 3.6.1 with Pods, i am lock on the 3.5.3 :(

i use  " pod 'SwiftJWT'", i already made a "pod repo update", and if i use "pod 'SwiftJWT', '3.6.1'" i get this error :
[!] CocoaPods could not find compatible versions for pod "SwiftJWT"

there are mention of the version on https://cocoapods.org/pods/SwiftJWT
Are you sure that is upToDate ?

[2020-10-19 12:24] gerchicov-bp commented on #79
I have the same error

[2020-10-19 23:05] dannys42 commented on #95
Hi @GuillaumeBourge, we're still in the middle of migrating Kitura repos over to the Kitura org (from the IBM-Swift org), which may be causing some issues with recent versions.  Are you able to stay with 3.5.3 for a little while longer?

[2020-10-20 07:23] GuillaumeBourge commented on #95
Hi, no problem :) can you mention the link of new repos when you will be ok please ?

[2020-10-20 07:25] mbarnach commented on #95
Hi @GuillaumeBourge Github is doing the forward automatically, but the new URLs are Kitura instead of IBM-Swift, as you can see in this repo right now. W are trying to "adopt" the CocoaPods also, so there will be no changes hopefully there too.

[2020-10-20 07:27] GuillaumeBourge commented on #95
I just seen the org name change ! :D

[2020-10-21 13:42] mbarnach commented on #95
The PR #96 should fix this. When merged, a new release will be pushed on Cocoapods.

[2020-11-06 08:07] sshallow opened #97 "Can i use it in objc project?"
### Can i use it in objc project?

I want to create a jwt token via oc in order to use [App Store Connect API](https://developer.apple.com/documentation/appstoreconnectapi/generating_tokens_for_api_requests).

I want to use the key.p8 to create a token in oc project

[2021-04-12 11:05] Ginso opened #99 "Provided private key could not be used to sign JWT"
Hello,
i tried creating a JWT with the following code from your documentation:

[2021-04-16 09:55] mbarnach commented on #99
Is it working with an on-the-fly key generation, like that:

[code]

This is a different type of key, but it shouldn't matter for the test.

[2021-12-16 01:44] wilg opened #102 ""Signature" is misspelled throughout code"
"signiture" should be "signature"

[2022-01-15 20:16] SajjadKharrazi opened #103 "Many dependency and increase app size"
[code]

why it should have these many dependency???
i think does not require

also after uploaded my app to appstore, it increase size from 19.7 to 20.4 MB????
do you think it is normal?

[2022-01-20 05:57] phanindhraB opened #104 "Decode issue"
I'm Sending the finalized JWT String in Header and expected to get a response as same
but it is changing the decode response
<img width="523" alt="Screenshot 2022-01-20 at 11 22 40 AM" src="https://user-images.githubusercontent.com/98076708/150281472-8b2a674f-a0f5-412b-b02c-e387d42fc809.png">

This is the cryptogram after encoding
`eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzUxMiJ9.eyJhbW91bnQiOiIxLjAwIiwiZGV2a

[2022-02-15 10:42] TheHmmka opened #105 "Verify method for JWTVerifier"
Can you open this method please:

func verify(jwt: String) -> Bool {
   return verifierAlgorithm.verify(jwt: jwt)
}

[2022-03-09 03:54] adozenlines commented on #105
The reason for the protocol method is due to you having to implement your own verification algorithm. So there is nothing to make open.

[2022-03-09 07:05] TheHmmka commented on #105
But what if I want to use exist algorithm?

[2022-03-16 10:25] phanindhraB commented on #104
@dannys42 @bluk @e0 @mbarnach any response on the decoded object ??

[2022-03-17 05:07] phanindhraB commented on #104
@mbarnach I mean, passing Claim struct object with an order for creating encoding object,  if I decode the object using JWT, the order of the Claim struct object is changing. you can see the above comment.

[2022-03-17 07:50] mbarnach commented on #104
@phanindhraB JSON are coded as dictionary, so order is not preserved. If you are using a `decodable` struct, it shouldn't matter. Otherwise, you will have to provide your own encoder/decoder with ordered dictionary.

[2022-04-06 16:28] LowAmmo opened #106 "Update 3.6.201 in Cocoapods?"
Cocoapods is currently showing v. 3.6.200.

Just looking for getting 3.6.201 published into cocoapods.

-Thanks!

[2022-04-08 19:56] dannys42 commented on #106
@LowAmmo Thanks for the report.  Unfortunately I'm blocked due to Cocoapods servers being down: https://github.com/CocoaPods/trunk.cocoapods.org/issues/325

[2022-04-08 20:01] LowAmmo commented on #106
@dannys42 - Thanks for trying... hopefully, that will get fixed sometime soon.... 🤞

[2022-05-06 18:24] rph8 commented on #95
#96 is merged, so I think this can be closed.

[2022-05-07 18:29] #95 closed

[2022-05-12 01:01] thecavilnator opened #107 "This library isn't secure"
The statement: 'Reminder: JWTs sent as JWS do not encrypt data, so never send anything sensitive or confidential in a JWT. This library does not currently support JWE.' is tricky but clearly states this library is insecure, correct?

This library does not support encryption... so what's the point? I don't get it.

[2022-07-21 08:38] SajjadKharrazi opened #108 "manual add dependency"
how can we add it manually?
something like .xcframework

[2022-07-22 07:06] SajjadKharrazi commented on #108
download .xcframework and add it to my project
instead of SPM or CocoaPods...

[2022-07-23 01:50] dannys42 commented on #108
Sorry, no.  I do not have any plans to offer binary releases for this project.  In addition to some security concerns, there are many platforms that Swift-JWT can work on, and it would take too much time to offer binary frameworks for this project.

[2022-09-21 22:07] priore opened #109 "Xcode 14 and BlueRSA"
Incompatible version of BlueRSA dependency on Xcode 14

![swiftjwt_bluersa](https://user-images.githubusercontent.com/1537350/191619099-f0141637-d4c2-494f-a48f-629346cb708b.jpg)

[2022-09-22 03:14] dannys42 commented on #109
@priore What version of [Swift-JWT](https://github.com/Kitura/Swift-JWT) are you using?  I do not see an issue on master/3.6.201 compiling for macOS or iOS.

[2022-09-26 10:50] priore commented on #109
I didn't have time, I replaced with other library, thanks.

[2022-09-26 10:50] #109 closed